name: Docfx

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "main" ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  DOTNET_VERSION: |
    8.0.x
    9.0.x
  DOCFX_VERSION: '2.74.1'
  
jobs:
  # This job will run when a pull request is opened or synchronized
  docfx-check-build:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Check Documentation Build
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup docfx
      run: |
        dotnet tool install --global docfx --version ${{ env.DOCFX_VERSION }}  
        docfx -v

    - name: Build
      run: dotnet build

    - name: Generate Documentation
      run:  docfx docs/docfx.json -o:./output/docs/

    - name: Upload artifact
      if: github.event.pull_request.draft == false
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./output/docs/

  # This job will run when a pull request is merged
  docfx-build-deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Build and Deploy Documentation
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}    
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}  

    - name: Setup docfx
      run: |
        dotnet tool install --global docfx --version ${{ env.DOCFX_VERSION }}  
        docfx -v

    - name: Build
      run: dotnet build

    - name: Generate Documentation
      run:  docfx docs/docfx.json -o:./output/docs/

    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./output/docs/

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
